<div class="main-archives-container">
    <% 
        const res=filterPostsByYear(site.posts);
        const sitePosts=res[0]; 
        const archivePosts=res[1]; 
    %>
        <div class="archive-post-container">

        </div>
        <div class="main-archive-list-container">

            <% for(const year of Object.keys(archivePosts)) { %>
                <h3 class="archive-list-year">
                    <%=year%>
                </h3>
                <div class="archive-list-yearly-content-container">
                    <% archivePosts[year].forEach((post)=> { %>
                        <div class="archive-list-yearly-content-item">
                            <div class="archive-list-yearly-content-item-date" 
                                <% if(theme.accent_color) {%>
                                    style="color: #<%=theme.accent_color%>"
                                <%}%>
                            >
                                <%- full_date(post.date, "MMM DD, YYYY" )%>
                            </div>

                            <div class="archive-list-yearly-content-item-title">
                                <a href="<%- url_for(post.path) %>" class="clickable archive-list-post-url"><%=truncate(post.title)%></a>
                            </div>
                        </div>
                        <%})%>
                </div>
                <% }%>
        </div>
</div>
<div class="main-blogposts-container"></div>
</div>