<div class="main-landing-page-container">    
    <a href="<%- url_for('post')%>" class="landing-page-list-item uppercased clickable"> BLOG </a>
    <a href="<%- url_for('projects')%>" class="landing-page-list-item uppercased clickable"> PROJECTS </a>
    <a href="<%- url_for('about')%>" class="landing-page-list-item uppercased clickable"> ABOUT </a>
    <a href="<%- url_for('contact')%>" class="landing-page-list-item uppercased clickable"> CONTACT </a>
    <a href="<%- url_for('resume')%>" class="landing-page-list-item uppercased clickable"> RESUME </a>
    <a href="<%- url_for('links')%>" class="landing-page-list-item uppercased clickable"> LINKS </a>
</div>