<!DOCTYPE html>
<html lang="en">

<%- partial('_partials/head'); %>

<body>
    <div class="flex flex-col align-midle justify-center gap-16 py-8 px-4">
        <div class="nav-wrapper">
            <% if(is_home()) {%>
            <%- partial('_partials/index_nav'); %>
            <%} else {%>
            <%- partial('_partials/nav'); %>
            <%}%>
        </div>
        <div>
            <%- body %>
        </div>
        <div class="footer-wrapper">
            <%- partial('_partials/footer'); %>
            <%- partial('_partials/post-footer'); %>
        </div>
    </div>
</body>
</html>