<!DOCTYPE html>
<html lang="en">

<%- partial('_partials/head'); %>

<body>
    <div class="main-container">
        <div class="nav-wrapper">
            <%- partial('_partials/nav'); %>
        </div>
        <div class="main-body-wrapper">
            <%- body %>
        </div>
        <div class="footer-wrapper">
            <%- partial('_partials/footer'); %>
            <%- partial('_partials/post-footer'); %>
        </div>
    </div>
</body>
</html>