<!DOCTYPE html>
<html class="html dark" lang="en">

<%- partial('_partials/head'); %>

<body class="bg-gray-200 dark:bg-black">
    <div class="flex flex-col min-h-screen gap-12 px-4 py-8 layout ">
        <nav class="nav-wrapper">
           <%- partial('_partials/index_nav'); %>
        </nav>
        <div class="hidden sidebar">
            <%- partial('_partials/menu') %>
        </div>
        <script>
            let open = false;
            $('.menu').click((e) => {
                open = !open;
                console.log(open);
                $('.tham').toggleClass('tham-active');
                $('.sidebar').toggleClass('hidden');
                $('.main-content-body').toggleClass('hidden');
                $('.footer-wrapper').toggleClass('hidden');
            });
        </script>
        <container class="main-content-body">
            <%- body %>
        </container>
        <footer class="mt-auto footer-wrapper ">
            <%- partial('_partials/footer'); %>
            <%- partial('_partials/post-footer'); %>
        </footer>
    </div>
</body>

</html>