<!DOCTYPE html>
<html lang="en">

<%- partial('_partials/head'); %>

<body>
    <div class="flex flex-col justify-center gap-16 px-4 py-8 align-midle">
        <nav class="nav-wrapper">
            <% if(is_home()) {%>
                <%- partial('_partials/index_nav'); %>
                    <%} else {%>
                        <%- partial('_partials/nav'); %>
                            <%}%>
        </nav>
        <container>
            <%- body %>
        </container>
        <footer class="footer-wrapper">
            <%- partial('_partials/footer'); %>
            <%- partial('_partials/post-footer'); %>
        </footer>
    </div>
</body>

</html>