<footer class="mx-8 text-xl font-bold text-center text-black dark:text-white dark:font-normal font-bungeehairline">
    <div class="copyright">
        &copy; <%= new Date().getFullYear() %> | Powered by <a class="text-black dark:text-white" href="https://hexo.io"
                target="_blank"><b>Hexo</b></a>
    </div>
<div>Theme LEVIATHAN by <a class="text-black dark:text-white" href="https://github.com/StrixSC"><b>StrixSC</b></a></div>

   <br>

<div class="flex flex-wrap justify-center gap-4 align-middle">
    <div class="hoverable-element">
        <a href="<%=theme.mastodon_url%>"><img height="32" width="32" src="https://cdn.simpleicons.org/mastodon/" /></a>
    </div>
    <div class="hoverable-element">
        <a href="<%=theme.linkedin_url%>"><img height="32" width="32" src="https://cdn.simpleicons.org/linkedin/" /></a>
    </div>
    <!-- <div class="right-navbar-container navbar-container "> -->
    <div class="hoverable-element">
        <a href="<%=theme.twitter_url%>"><img height="32" width="32" src="https://cdn.simpleicons.org/twitter/" /></a>
    </div>
    <div class="hoverable-element">
        <a href="<%=theme.github_url%>"><img height="32" width="32" src="https://cdn.simpleicons.org/github/" /></a>
    </div>
   </div>

</footer>

<%- js('js/main') %>