<head>
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </meta>
    <% const def="A Blog Powered By Hexo" ; %>
        <title>
            <%=config.title ? config.title : def %>
        </title>
        <%- favicon_tag(theme.favicon) %>
            <meta name="description" content="<%=config.description ? config.description : def%>">
            <meta name="viewport" , content="width=device-width, initial-scale=1">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap"
                rel="stylesheet">
            <link rel="stylesheet"
                href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/default.min.css">
            <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source Code Pro'>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap"
                rel="stylesheet">
            <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Bungee Hairline'>
            <%- css('css/leviathan.min.css'); %>
                <style>
                    a {
                        color: <%=theme.accent_color ? "#" + theme.accent_color: "white" %>
                    }
                </style>
</head>