<div class="flex items-center justify-around">
    <div class="flex items-center justify-center menu">
        <div class="tham tham-e-slider tham-w-6">
            <div class="tham-box">
                <div class="bg-black dark:bg-white tham-inner">
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col justify-center gap-8 text-xl font-bungeehairline">
            <% if (is_home()) { %>
            <% if (theme.logo) {%>
                <div class="flex items-center justify-center">
                    <a href="<%- url_for('') %>"><img class="w-24" src="<%=url_for(theme.logo)%>"></a>
                </div>
                <%}%>
                    <div class="hidden text-3xl font-bold text-center text-black dark:text-white lg:block">
                        <%=config.title ? config.title : def %>
                            <% if(config.subtitle) {%>
                                <span>
                                    | <%=config.subtitle%>
                                </span>
                                <%}%>
                    </div>
                    <% } else { %>
                        <div
                            class="flex flex-wrap justify-center gap-4 text-black no-underline align-middle dark:text-white font-bungeehairline">
                            <% const def="A Blog Powered By Hexo" ;%>
                                <% if (theme.logo) {%>
                                    <div class="flex justify-center align-middle">
                                        <a href="<%- url_for('') %>"><img class="w-16" src="<%- url_for(theme.logo)%>" alt="logo"></a>
                                    </div>
                                    <%} else {%>
                                        <h2 class="hidden text-3xl text-center lg:block">
                                            <%=config.title ? config.title : def %>
                                        </h2>
                                    <% } %>
                        </div>
                        <% } %>
        </div>
        <%-partial('theme-switcher')%>
</div>