<div class="flex flex-wrap justify-center gap-4 text-white no-underline align-middle font-bungeehairline">
    <% const def="A Blog Powered By Hexo" ;%>
    <% if (theme.logo) {%>
        <div class="flex justify-center align-middle">
            <img class="w-16" src="<%- url_for(theme.logo)%>" alt="logo">
        </div>
    <%}%>
    <h2 class="text-3xl text-center">
        <%=config.title ? config.title : def %> 
        <% if(config.subtitle) {%>
            <span>
                | <%=config.subtitle%>
            </span>
        <%}%>
    </h2>
</div>
<div class="flex flex-wrap justify-center gap-4 text-black dark:text-white font-bungeehairline">
    <a class="text-xl text-black no-underline uppercase border-b-4 border-transparent hover:font-extrabold hover:cursor-pointer hover:border-white dark:text-white" href="<%- url_for('') %>">Home</a>
    <% for(var i in theme.menu){%>
        / <a class="text-xl text-black no-underline uppercase border-b-4 border-transparent hover:font-extrabold hover:cursor-pointer hover:border-white dark:text-white" href="<%- url_for(theme.menu[i]) %>"><%=i%></a>
    <% } %>
    
</div>