<div class="main-navbar-container">
    <div class="left-navbar-container navbar-container">
        <div class="navbar-item">
            <img height="32" width="32" src="<%=simastodon.svg%>" />
        </div>
        <div class="navbar-item">
            <img height="32" width="32" src="<%=silinkedin.svg%>" />
        </div>
    </div>
    <div class="middle-navbar-container navbar-container ">
        <div class="navbar-item logo-container">
            <img class="logo" src="<%=url_for(theme.logo)%>">
        </div>
    </div>

    <div class="right-navbar-container navbar-container ">
        <div class="navbar-item">
            <img height="32" width="32" src="<%=sigithub.svg%>" />
        </div>
        <div class="navbar-item">
            <img height="32" width="32" src="<%=sitwitter.svg%>" />
        </div>
    </div>
</div>